body {
    background-color: #009f95 !important;
    color: #00fffe;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #00756d;
}

.mx_RoomHeader {
    background-color: #002a27;
	border-radius: 0px;
}

.mx_RoomHeader_buttons {
    background-color: #002a27;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #00978d;
}

.mx_RightPanel_headerButton:hover {
    background: #00847b;
}

.mx_RoomHeader_button:before {
    background-color: #009188;
	border-radius: 0%;
}

.mx_HeaderButtons:before {
    background-color: #009188 !important;
    opacity: .5;
    border-radius: 0px;
    width: 1px;
}

.mx_ReplyTile>a {
    color: #0fe;
	border-radius: 0px;
}

.mx_MatrixChat>:not(.mx_LeftPanel):not(.mx_SpacePanel):not(.mx_ResizeHandle):not(.mx_LeftPanel_wrapper) {
    background-color: #000b0a;
}

.mx_SpacePanel {
    background-color: #001d1b;
    padding: 0;
}

.mx_MatrixChat--with-avatar .mx_LeftPanel, .mx_MatrixChat--with-avatar .mx_LeftPanel .mx_LeftPanel_roomListContainer {
    background-color: #002724;
}

.mx_MessageTimestamp {
    color: #00978d;
}

.mx_AutoHideScrollbar::-webkit-scrollbar, .mx_AutoHideScrollbar::-webkit-scrollbar-thumb {
    background-color: #00322f;
}

.mx_MessageActionBar {
    border-radius: 0px;
    background: #003431;
    border: 1px solid #00423e;
	color: #0fe;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .markdown-body .mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .mx_EventTile_line {
    background-color: #00221f;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight, .mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .markdown-body {
    color: #65aba7;
}

 {
	background-color: black;
}

.mx_EventTile:not([data-layout=bubble]):hover.mx_EventTile_verified .mx_EventTile_line {
    border-left: 4px solid hsl(176, 48%, 64%);
	background-color: #003d39;
	border-radius: 0px;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile.focus-visible:focus-within .mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile.mx_EventTile_actionBarFocused .mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile:hover .mx_EventTile_line {
    background-color: #003d39;
	border-radius: 0px;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_selected>.mx_EventTile_line {
    border-left: 4px solid #00756d;
    padding-left: 60px;
    background-color: #003d39;
	border-radius: 0px;
}

.mx_EventTile_content .markdown-body code, .mx_EventTile_content .markdown-body pre {
    font-family: Inconsolata,Twemoji,Apple Color Emoji,Segoe UI Emoji,Courier,monospace,Noto Color Emoji!important;
    background-color: #003531;
}

.mx_MessageComposer_sendMessage {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 0%;
    background-color: #004844;
}

.mx_MessageComposer_button:before {
    background-color: #00978d;
}

.mx_RightPanel_headerButton:before {
    background-color: #00756d;
}


.mx_RoomHeader_name {
    color: #0fe;
    border-radius: 0px;
}

.mx_ReplyPreview {
    background: #001514;
    border: 1px solid transparent;
    border-radius: 0px 0px 0 0;
}

hr.mx_RoomView_myReadMarker {
    border-top: 2px solid #00504a;
    border-bottom: 1px solid #002b28;
	border-radius: 0px;
}

.mx_Username_color1, .mx_Username_color2, .mx_Username_color3, .mx_Username_color4, .mx_Username_color5, .mx_Username_color6, .mx_Username_color7, .mx_Username_color8 {
    color: #00877e;
}

.mx_ReplyChain.mx_ReplyChain_color1, .mx_ReplyChain.mx_ReplyChain_color2, .mx_ReplyChain.mx_ReplyChain_color3, .mx_ReplyChain.mx_ReplyChain_color4, .mx_ReplyChain.mx_ReplyChain_color5, .mx_ReplyChain.mx_ReplyChain_color6, .mx_ReplyChain.mx_ReplyChain_color7, .mx_ReplyChain.mx_ReplyChain_color8 {
    border-left-color: #00877e;
	border-radius: 0px;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_isEditing {
    background-color: #002c29;
}

.mx_EditMessageComposer .mx_EditMessageComposer_buttons {

    background: #003531;
}

.mx_AccessibleButton_kind_secondary {
    color: #24a29a;
}


.mx_AccessibleButton_kind_primary {
    color: #0fe;
    background-color: #001210;
    border: 1px solid #00a095;
	border-radius: 0px;
}

.mx_EditMessageComposer .mx_BasicMessageComposer_input {
    border-radius: 0px;
    background-color: #1e3c3a;
}

.mx_EventTile_content .markdown-body code, .mx_EventTile_content .markdown-body pre {
    font-family: unifont!important;
    background-color: #003531;
	border-radius: 0;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .markdown-body .mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .mx_EventTile_line {
    background-color: #002320;
	border-radius: 0;
}

.mx_EventTile_content .markdown-body a.mx_UserPill, .mx_UserPill {
    color: #002422;
    background-color: #00c3b6;
	border-radius: 0;
}

.mx_MediaBody {
    background-color: #003733;
    border-radius: 0px;
    color: #00b2a6;
}

.mx_PlayPauseButton {
    border-radius: 0px;
    background-color: #001917;
}

.mx_PlayPauseButton:before {
    background-color: #00766f;
}

.mx_MediaBody.mx_AudioPlayer_container .mx_AudioPlayer_primaryContainer .mx_AudioPlayer_mediaInfo .mx_AudioPlayer_mediaName {
    color: #0fe;
}

.mx_SeekBar {
    background: #000e0d;
    outline: #00ffee;
}

.mx_SeekBar:before {
    background-color: #009b91;
}

input[type="range" i] {
    color: #0fe;
    margin: 1px;
	border-radius: 0px;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_isEditing>.mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile_selected>.mx_EventTile_line {
    -webkit-box-shadow: inset 54px 0 0 -50px #0fe;
    box-shadow: inset 54px 0 0 -50px #0fe;
    background-color: #002a27;
}

.mx_AccessibleButton.mx_AccessibleButton_kind_primary {
    color: #0fe;
    background-color: #00766f;
}

.mx_AccessibleButton.mx_AccessibleButton_kind_primary, .mx_AccessibleButton.mx_AccessibleButton_kind_primary_outline {
    border: 1px solid #0fe;
}

.mx_AccessibleButton.mx_AccessibleButton_hasKind{
	border-radius: 0px;
}

.mx_AccessibleButton.mx_AccessibleButton_kind_secondary {
    color: #0fe;
}

.mx_Pill.mx_AtRoomPill, .mx_Pill.mx_UserPill_me {
    background-color: #881bc7!important;
	color: #ffc600!important;
}

.mx_LinkPreviewWidget {
    border-left: 1px solid #0fe;
    border-radius: 0px;
    color: #008980;
}

a:hover, a:link, a:visited {
    color: #00afba;
}

.mx_WhoIsTypingTile_label {
    color: #00847b;
}

.mx_MessageActionBar_maskButton:after {
    background-color: #00968c;
}

.mx_MessageActionBar_maskButton:hover:after {
    background-color: #0fe;
}

.mx_RoomHeader_button {
    border-radius: 0%;
}

.mx_RoomHeader_button:hover {
    background: #000f0e4f;
}

.mx_RoomHeader_button:hover:before {
    background-color: #0fe;
}

.mx_RightPanel_headerButton {
    border-radius: 0%;
}

.mx_RightPanel_headerButton:hover {
    background: #000f0e4f;
}

.mx_RightPanel_headerButton:hover:before, .mx_RightPanel_headerButton_highlight:before {
 background-color: #0fe!important;
}

.mx_EventTile_content .mx_EventTile_edited, .mx_EventTile_content .mx_EventTile_pendingModeration {
    color: #00ffee8a;
}

.mx_DateSeparator {
    color: #0fe;
}

.mx_DateSeparator>hr {
    border-bottom: 1px solid #0fe;
}

.mx_EventTile .mx_EventTile_receiptSending:before, .mx_EventTile .mx_EventTile_receiptSent:before {
    background-color: #0fe;
}

.mx_Tooltip {
    border-radius: 0px;
    background-color: #002320;
    color: #0fe;
}

.mx_ReactionsRow {
    color: #0fe;
}

.mx_ReactionsRowButton {
    border: 1px solid #00433f;
    border-radius: 0px;
    background-color: #00413ca8;
}

.mx_ReactionsRowButton:hover {
    border-color: #00998f;
}

.mx_ReactionsRow .mx_ReactionsRow_addReactionButton:before {
    background-color: #007069;
}

.mx_ReactionsRowButton.mx_ReactionsRowButton_selected {
    background-color: #00bcaf70;
    border-color: #0fe;
}

.mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_active.mx_SpaceButton_narrow .mx_SpaceButton_selectionWrapper {
    padding: 3px;
    border: 1px solid #0fe;
	border-radius: 0px;
}

.mx_SpacePanel .mx_SpaceTreeLevel .mx_BaseAvatar:not(.mx_UserMenu_userAvatar_BaseAvatar) .mx_BaseAvatar_initial {
    color: #0fe;
    border-radius: 0px;
    background-color: #00504b8a;
}

.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_toggleCollapse {
    background-color: #0fe;
}

.mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_favourites .mx_SpaceButton_icon, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_home .mx_SpaceButton_icon, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_orphans .mx_SpaceButton_icon, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_people .mx_SpaceButton_icon {
    background-color: #00504b8a;
}

.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_icon {
    border-radius: 0px;
}

.mx_SpacePanel .mx_SpacePanel_badgeContainer .mx_NotificationBadge_2char, .mx_SpacePanel .mx_SpacePanel_badgeContainer .mx_NotificationBadge_3char {
    border: 1px solid #00726a;
	border-radius: 0px;
}

.mx_NotificationBadge.mx_NotificationBadge_visible {
    background-color: #00756d;
}

.mx_NotificationBadge.mx_NotificationBadge_visible .mx_NotificationBadge_count {
    color: #0fe;
}

mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_favourites .mx_SpaceButton_icon:before, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_home .mx_SpaceButton_icon:before, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_orphans .mx_SpaceButton_icon:before, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_people .mx_SpaceButton_icon:before {
    background-color: #0fe;
}

.mx_SpacePanel .mx_SpaceButton {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #0fe;
}

.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_selectionWrapper {
    border-radius: 0px;
}

.mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_new .mx_SpaceButton_icon:before {
    background-color: #0fe;
}

.mx_MessageComposer_sendMessage:before {
    background-color: #0fe;
}

.mx_LegacyCallEvent_wrapper .mx_LegacyCallEvent {
    padding: 8px 8px;
    background-color: #002f2c;
    border-radius: 0px;
}

.mx_LegacyCallEvent_wrapper .mx_LegacyCallEvent .mx_LegacyCallEvent_content {
    color: #00cdc9;
}

.mx_LegacyCallEvent_wrapper .mx_LegacyCallEvent .mx_LegacyCallEvent_info .mx_LegacyCallEvent_info_basic .mx_LegacyCallEvent_type {
    color: #00fffe;
}

.mx_LegacyCallEvent_wrapper .mx_LegacyCallEvent .mx_LegacyCallEvent_info .mx_LegacyCallEvent_info_basic .mx_LegacyCallEvent_type .mx_LegacyCallEvent_type_icon:before {
    background-color: #00fffe;
}

