body {
    font-family: Inter,Twemoji,Apple Color Emoji,Segoe UI Emoji,Arial,Helvetica,sans-serif,Noto Color Emoji;
    font-size: 1.5rem;
    background-color: #009f95 !important;
    color: #0fe;
    border: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #00756d;
}

.mx_RoomHeader {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    border-bottom: 1px solid transparent;
    background-color: #002a27;
	border-radius: 0px;
}

.mx_RoomHeader_buttons {
    background-color: #002a27;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #00978d;
}

.mx_RightPanel_headerButton:hover {
    background: #00847b;
}

.mx_RoomHeader_button:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 24px;
    width: 24px;
    background-color: #009188;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
	border-radius: 0%;
}

.mx_HeaderButtons:before {
    content: "";
    background-color: #009188 !important;
    opacity: .5;
    margin: 6px 8px;
    border-radius: 1px;
    width: 1px;
}

.mx_ReplyTile>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
    color: #0fe;
	border-radius: 0px;
}

.mx_MatrixChat>:not(.mx_LeftPanel):not(.mx_SpacePanel):not(.mx_ResizeHandle):not(.mx_LeftPanel_wrapper) {
    background-color: #000b0a;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    min-width: 0;
    height: 100%;
}

.mx_SpacePanel {
    background-color: #001d1b;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mx_MatrixChat--with-avatar .mx_LeftPanel, .mx_MatrixChat--with-avatar .mx_LeftPanel .mx_LeftPanel_roomListContainer {
    background-color: #002724;
}

.mx_MessageTimestamp {
    color: #00978d;
    font-size: 1rem;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.mx_AutoHideScrollbar::-webkit-scrollbar, .mx_AutoHideScrollbar::-webkit-scrollbar-thumb {
    background-color: #00322f;
}

.mx_MessageActionBar {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    line-height: 2.4rem;
    border-radius: 8px;
    background: #003431;
    border: 1px solid #00423e;
    top: -32px;
    right: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
	color: #0fe;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .markdown-body .mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .mx_EventTile_line {
    background-color: #00221f;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight, .mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .markdown-body {
    color: #65aba7;
}

 {
	background-color: black;
}

.mx_EventTile:not([data-layout=bubble]):hover.mx_EventTile_verified .mx_EventTile_line {
    border-left: 4px solid hsl(176, 48%, 64%);
	background-color: #003d39;
	border-radius: 0px;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile.focus-visible:focus-within .mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile.mx_EventTile_actionBarFocused .mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile:hover .mx_EventTile_line {
    background-color: #003d39;
	border-radius: 0px;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_selected>.mx_EventTile_line {
    border-left: 4px solid #00756d;
    padding-left: 60px;
    background-color: #003d39;
	border-radius: 0px;
}

.mx_EventTile_content .markdown-body code, .mx_EventTile_content .markdown-body pre {
    font-family: Inconsolata,Twemoji,Apple Color Emoji,Segoe UI Emoji,Courier,monospace,Noto Color Emoji!important;
    background-color: #003531;
}

.mx_MessageComposer_sendMessage {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 0%;
    background-color: #009188;
}

.mx_MessageComposer_button:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    height: 20px;
    width: 20px;
    background-color: #00978d;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
}

.mx_RightPanel_headerButton:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 24px;
    width: 24px;
    background-color: #00756d;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}


.mx_RoomHeader_name {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    overflow: hidden;
    color: #0fe;
    font-weight: 600;
    font-size: 1.8rem;
    border-radius: 0px;
    margin: 0 7px;
    padding: 1px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mx_ReplyPreview {
    background: #001514;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 0px 0px 0 0;
    max-height: 50vh;
    overflow: auto;
    -webkit-box-shadow: 0 -16px 32px rgb(0 0 0 / 28%);
    box-shadow: 0 -16px 32px rgb(0 0 0 / 28%);
}

hr.mx_RoomView_myReadMarker {
    border-top: 2px solid #00504a;
    border-bottom: 1px solid #002b28;
    margin-top: 0;
    position: relative;
    top: -1px;
    z-index: 1;
    will-change: width;
    -webkit-transition: width easeinsine .4s 1s,opacity easeinsine .4s 1s;
    transition: width easeinsine .4s 1s,opacity easeinsine .4s 1s;
    width: 99%;
    opacity: 1;
	border-radius: 0px;
}

.mx_Username_color1, .mx_Username_color2, .mx_Username_color3, .mx_Username_color4, .mx_Username_color5, .mx_Username_color6, .mx_Username_color7, .mx_Username_color8 {
    color: #00877e;
}

.mx_ReplyChain.mx_ReplyChain_color1, .mx_ReplyChain.mx_ReplyChain_color2, .mx_ReplyChain.mx_ReplyChain_color3, .mx_ReplyChain.mx_ReplyChain_color4, .mx_ReplyChain.mx_ReplyChain_color5, .mx_ReplyChain.mx_ReplyChain_color6, .mx_ReplyChain.mx_ReplyChain_color7, .mx_ReplyChain.mx_ReplyChain_color8 {
    border-left-color: #00877e;
	border-radius: 0px;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_isEditing {
    background-color: #002c29;
}

.mx_EditMessageComposer .mx_EditMessageComposer_buttons {

    background: #003531;
}

.mx_AccessibleButton_kind_secondary {
    color: #24a29a;
    font-weight: 600;
}


.mx_AccessibleButton_kind_primary {
    color: #0fe;
    background-color: #001210;
    border: 1px solid #00a095;
    font-weight: 600;
	border-radius: 0px;
}

.mx_EditMessageComposer .mx_BasicMessageComposer_input {
    border-radius: 0px;
    border: 1px solid transparent;
    background-color: #1e3c3a;
    max-height: 200px;
    padding: 3px 6px;
}

.mx_EventTile_content .markdown-body code, .mx_EventTile_content .markdown-body pre {
    font-family: unifont!important;
    background-color: #003531;
	border-radius: 0;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .markdown-body .mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile_highlight .mx_EventTile_line {
    background-color: #002320;
	border-radius: 0;
}

.mx_EventTile_content .markdown-body a.mx_UserPill, .mx_UserPill {
    color: #002422;
    background-color: #00c3b6;
	border-radius: 0;
}

.mx_LeftPanel_outerWrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 15%;
    position: relative;
    contain: layout paint;
}

.mx_MediaBody {
    background-color: #003733;
    border-radius: 0px;
    max-width: 243px;
    color: #00b2a6;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 6px 12px;
}

.mx_PlayPauseButton {
    position: relative;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 0px;
    background-color: #001917;
}

.mx_PlayPauseButton:before {
    content: "";
    position: absolute;
    background-color: #00766f;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.mx_MediaBody.mx_AudioPlayer_container .mx_AudioPlayer_primaryContainer .mx_AudioPlayer_mediaInfo .mx_AudioPlayer_mediaName {
    color: #0fe;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 4px;
}

.mx_SeekBar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 1px;
    background: #000e0d;
    outline: #00ffee;
    position: relative;
    cursor: pointer;
}

.mx_SeekBar:before {
    content: "";
    background-color: #009b91;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleX(var(--fillTo));
    transform: scaleX(var(--fillTo));
}

input[type="range" i] {
    color: #0fe;
    margin: 1px;
	border-radius: 0px;
}

.mx_EventTile:not([data-layout=bubble]).mx_EventTile_isEditing>.mx_EventTile_line, .mx_EventTile:not([data-layout=bubble]).mx_EventTile_selected>.mx_EventTile_line {
    -webkit-box-shadow: inset 54px 0 0 -50px #0fe;
    box-shadow: inset 54px 0 0 -50px #0fe;
    background-color: #002a27;
}

.mx_AccessibleButton.mx_AccessibleButton_kind_primary {
    color: #0fe;
    background-color: #00766f;
}

.mx_AccessibleButton.mx_AccessibleButton_kind_primary, .mx_AccessibleButton.mx_AccessibleButton_kind_primary_outline {
    border: 1px solid #0fe;
}

.mx_AccessibleButton.mx_AccessibleButton_hasKind{
	border-radius: 0px;
}

.mx_AccessibleButton.mx_AccessibleButton_kind_secondary {
    color: #0fe;
}

.mx_Pill.mx_AtRoomPill, .mx_Pill.mx_UserPill_me {
    background-color: #881bc7!important;
	color: #ffc600!important;
}

.mx_LinkPreviewWidget {
    border-left: 1px solid #0fe;
    border-radius: 0px;
    color: #008980;
}

a:hover, a:link, a:visited {
    color: #00afba;
}

.mx_WhoIsTypingTile_label {
    color: #00847b;
}

.mx_MessageActionBar_maskButton:after {
    background-color: #00968c;
}

.mx_MessageActionBar_maskButton:hover:after {
    background-color: #0fe;
}

.mx_RoomHeader_button {
    border-radius: 0%;
}

.mx_RoomHeader_button:hover {
    background: #000f0e4f;
}

.mx_RoomHeader_button:hover:before {
    background-color: #0fe;
}

.mx_RightPanel_headerButton {
    border-radius: 0%;
}

.mx_RightPanel_headerButton:hover {
    background: #000f0e4f;
}

.mx_RightPanel_headerButton:hover:before, .mx_RightPanel_headerButton_highlight:before {
 background-color: #0fe!important;
}

.mx_EventTile_content .mx_EventTile_edited, .mx_EventTile_content .mx_EventTile_pendingModeration {
    color: #00ffee8a;
}

.mx_DateSeparator {
    color: #0fe;
}

.mx_DateSeparator>hr {
    border-bottom: 1px solid #0fe;
}

.mx_EventTile .mx_EventTile_receiptSending:before, .mx_EventTile .mx_EventTile_receiptSent:before {
    background-color: #0fe;
}

.mx_Tooltip {
    border-radius: 0px;
    word-break: break-word;
    background-color: #002320;
    color: #0fe;
}

.mx_ReactionsRow {
    color: #0fe;
}

.mx_ReactionsRowButton {
    margin-right: 2px;
    padding: 1px 2px;
    border: 1px solid #00433f;
    border-radius: 0px;
    background-color: #00413ca8;
}

.mx_ReactionsRowButton:hover {
    border-color: #00998f;
}

.mx_ReactionsRow .mx_ReactionsRow_addReactionButton:before {
    background-color: #007069;
}

.mx_ReactionsRowButton.mx_ReactionsRowButton_selected {
    background-color: #00bcaf70;
    border-color: #0fe;
}

.mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_active.mx_SpaceButton_narrow .mx_SpaceButton_selectionWrapper {
    padding: 3px;
    border: 1px solid #0fe;
	border-radius: 0px;
}

.mx_SpacePanel .mx_SpaceTreeLevel .mx_BaseAvatar:not(.mx_UserMenu_userAvatar_BaseAvatar) .mx_BaseAvatar_initial {
    color: #0fe;
    border-radius: 0px;
    background-color: #00504b8a;
}

.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_toggleCollapse {
    background-color: #0fe;
}

.mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_favourites .mx_SpaceButton_icon, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_home .mx_SpaceButton_icon, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_orphans .mx_SpaceButton_icon, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_people .mx_SpaceButton_icon {
    background-color: #00504b8a;
}

.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_icon {
    border-radius: 0px;
}

.mx_SpacePanel .mx_SpacePanel_badgeContainer .mx_NotificationBadge_2char, .mx_SpacePanel .mx_SpacePanel_badgeContainer .mx_NotificationBadge_3char {
    margin: -3px -3px 0 0;
    border: 1px solid #00726a;
	border-radius: 0px;
}

.mx_NotificationBadge.mx_NotificationBadge_visible {
    background-color: #00756d;
}

.mx_NotificationBadge.mx_NotificationBadge_visible .mx_NotificationBadge_count {
    color: #0fe;
}

mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_favourites .mx_SpaceButton_icon:before, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_home .mx_SpaceButton_icon:before, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_orphans .mx_SpaceButton_icon:before, .mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_people .mx_SpaceButton_icon:before {
    background-color: #0fe;
}

.mx_SpacePanel .mx_SpaceButton {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #0fe;
}

.mx_SpacePanel .mx_SpaceButton .mx_SpaceButton_selectionWrapper {
    border-radius: 0px;
	padding: 0px;
}

.mx_SpacePanel .mx_SpaceButton.mx_SpaceButton_new .mx_SpaceButton_icon:before {
    background-color: #0fe;
}
